.home {
    width: 100%;
    font-family: "Arial", sans-serif;
    color: #272727;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #272727;
  color: #f0f0f0;
}

.about h3 {
  text-wrap: nowrap;
}

.about h5 {
  text-wrap: nowrap;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #F6F7EB;
  height: 100px;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.prompt svg {
  font-size: 40px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  padding: 16px;
}

.skills h1 {
  font-size: 60px;
  color: #272727;
}

.skills span {
  font-size: 20px;
  flex-wrap: wrap;
}

.card-text {
  color: #F6F7EB !important;
}

.card {
  background-color: #272727 !important;
}

.card-body {
  padding: 10px 30px !important;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }
  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .about h2 {
    font-size: 40px;
    height: 50px;
  }
  .about .section-text {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1300px) {
  .about h2 {
    font-size: 40px;
    text-wrap: nowrap;
    height: 50px;
  }
}

.button::after {
  display: none !important;
}

.button {
  border-radius: 50px !important;
  text-align: center;
}

.button:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.753);
  transition: 0.3s ease-in;
  transform: translateY(-0.15em);
}

.skillHeader {
  border-radius: 20px;
  text-align: center;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 20px;
}

.skill-sub-container {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.skill-sub-container:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 1);
  transition: 0.3s ease-in;
}

.skills-in-box {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .skills-in-box {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .skills-in-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

section {
  min-height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
}
.section-text {
  align-self: center;
  text-align: center;
  justify-content: center;
  margin: auto 0;
}

.profile-image {
  display: flex;
  border-radius: 50%;
  border: 10px solid black;
  height: 400px;
  width: 400px;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;
  min-height: 65vh;
}

.section-profile-picture {
  margin: auto 0;
  align-self: center;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .profile-image {
      width: auto;
      height: 46vw;
      justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  #profile {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .section-profile-picture {
    display: flex;
  }
}